@import url('https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
	--roboto: 'Roboto', sans-serif;
	--quantico: 'Quantico', sans-serif;

	--darkPurple: rgba(46, 27, 59, 1);
	--darkPurple2: rgba(48, 31, 101, 1);
	--darkOrange: rgba(211, 69, 87, 1);
	--lightOrange: rgba(255, 100, 100, 1);
	--yellow: rgba(248, 245, 130, 1);
	--white: #f6f6f6;
}

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}

img, video{max-width:100%;}
body{
	margin:0 auto;
	background-color:var(--white);
}
ul{list-style: none;}
a{text-decoration: none;}

.header{
	background-color:var(--darkPurple);
	text-align: center;
	padding:8px 0;
	position: relative;
	z-index:1;
}

.mainCategory{
	background-color:var(--darkPurple);
	text-align: center;
	width:100%;
	overflow-y: hidden;
	position:relative;
	z-index:1;
}

.mainCategory ul{
	max-width:320px;
	margin:0 auto;
	position:relative;
	z-index:1;
}

.mainCategory ul li{
	display: inline-block;
	width:calc(100% / 4);
	margin-left:-3px;
	position:relative;
	z-index:1;
}

.mainCategory ul li a{
	color:var(--white);
    font-family: var(--quantico);
    font-size:1rem;
    display: block;
    padding:5px 0px;
}

.mainCategory ul li a:hover{
	color:var(--yellow);
}

.catActive{
	width:25%;
	height:33px;
	border-radius:5px 5px 0 0;
	background-color:var(--darkPurple2);
	margin-left:-3px;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}

.subCategory{
	background-color:var(--darkPurple2);
	text-align: center;
	padding:5px 0;
	position:relative;
	z-index: 0
}

.subCategory li{
	display: inline-block;
}

.subCategory li a{
	color:var(--white);
	font-family: var(--quantico);
	font-size:.9rem;
	padding:5px 10px;
	display: inline-block;
	cursor:pointer;
}

.subCategory li a:hover{
	color:var(--yellow);
}

.mainContainer{
	max-width:600px;
	height:100%;
	margin:0 auto;
}

.contentWrapper{
	column-count: 2;
	column-gap: 10px;
	padding:20px;
}

.content{
	padding:10px;
	border-radius:5px;
	background:#fff;
	box-shadow:3px 3px 10px rgba(0,0,0,.12);
	margin-bottom: 10px;
	-webkit-column-break-inside: avoid;
    page-break-inside:avoid;
    break-inside:avoid;
    cursor: pointer;
}

.contentThumb{margin-bottom:5px;}

.contentName{margin-bottom:10px;}

.contentName p{
	text-align: center;
	font-family:var(--roboto);
	font-size:.8rem;
	color:var(--darkPurple);
}

.contentCta a{
	display: block;
	text-align: center;
	font-family: var(--quantico);
	font-weight:700;
	padding:5px 0;
	width:100%;
	background-color:var(--darkOrange);
	border-radius:5px;
	color:var(--white);
	font-size: .75rem;
}

.contentCta a:hover{color:var(--yellow);}

.previewWrapper{padding:20px;}

.prevThumb{
	text-align: center;
	padding-bottom:20px;
}

.prevThumb img, .prevThumb video{width:60%;}

.prevNameCta{padding-bottom:20px;}

.prevName{padding-bottom: 20px}

.prevName h3{
	font-size:1rem;
	text-align: center;
	font-family: var(--quantico);
	font-weight: 700;
	color:var(--darkPurple);
}

.prevCta{text-align: center;}

.prevCta a{
	display: inline-block;
	text-align: center;
	font-family: var(--quantico);
	font-weight:700;
	padding:10px 30px;
	background-color:var(--darkOrange);
	border-radius: 5px;
	color:var(--white);
	font-size:1rem;
}

.prevCta a:hover{color: var(--yellow)}

.prevDesc{padding-bottom:20px;}

.prevDesc p{
	color:var(--darkPurple);
	font-size: .8rem;
	line-height: 1.6;
	text-align: center;
	font-family: var(--roboto);
}




@media all and (min-width:340px) and (max-width:499px){
    .contentWrapper{column-count: 3;}
}

@media all and (min-width:500px){
    .contentWrapper{column-count: 4;}
} 