@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
:root{
    --purple: #6a4c93;
    --red: #f95738;
    --blue: #1982c4;
    --yellow: #ffbb00;
    --green: #8ac926;
    --offwhite: #f1faee;
    --black: rgb(20, 18, 18);
    --skyBlue: #e0fbfc;
    --paleBlue: rgb(199, 223, 230);
    --gray: rgb(94, 92, 92);
    --gray2: rgb(248, 247, 247);
    --animation-duration: 500ms;
}
*{
    margin:0;
    padding:0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.createContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:var(--blue);
    padding:30px 0; 
}
.addListContainer, .errorMsg{max-width: 70%;}
.addListContainer h1, .addListContainer p{padding-bottom:10px;}
.addListContainer h1{
    text-align: center;
    color: var(--offwhite);
    font-weight:700;
    font-size:1.8rem;
}
.addListContainer p{
    font-size: .9rem;
    color:var(--offwhite);
    text-align: center;
}
.addListContainer p .plusIcon, .addListContainer p .xIcon, .addListContainer p .checkboxIcon, .maxChar{font-weight: 700;}
.addListContainer p .maxChar{color:var(--green);}
.addListContainer p .plusIcon{
    display:inline-block;
    background:var(--green);
    border-radius:3px;
    padding:4px 8px;
    color:var(--black);
    font-size: .7rem;
    margin:0 5px;
}
.addListContainer p .xIcon{
    display:inline-block;
    background:var(--red);
    color:var(--offwhite);
    border-radius:3px;
    padding:4px 8px;
    font-size: .7rem;
    margin:0 5px;
}
.addListContainer p .undoIcon{
    display:inline-block;
    background:var(--purple);
    color:var(--offwhite);
    border-radius:3px;
    padding:4px 8px;
    font-size: .7rem;
    margin:0 5px;
}
.addListContainer p .checkboxIcon{
    border:1px solid var(--yellow);
    width: 11px;
    height: 12px;
    background:#fff;
    border-radius: 2px;
    display: inline-block;
    margin:0 5px;
}
.addListContainer form{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap:10px;
    padding:20px 20px 10px;
}
.addListContainer form input[type="text"]{
    padding:8px 10px;
    border-radius:3px;
    background:var(--offwhite);
    font-size: .8rem;
    font-weight: 700;
}
.addListContainer form .addItemBtn{
    background:var(--green);
    padding:0 10px;
    border-radius:3px;
    cursor: pointer;
}
.addListContainer form .addItemBtn svg{
    font-size:.9rem;
    color:var(--black);
    font-weight: 700;
    margin-right:3px;
}
.addListContainer form .addItemBtn span{
    font-size: .9rem;
    color:var(--black);
    font-weight: 700;
}
.errorMsg .error{
    font-size:.9rem;
    font-weight: 700;
    color:var(--red);
    text-align: center;
}
.errorMsg .error svg{
    margin-right:5px;
}
.listContainer{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-bottom:50px;
}
.listContainer h4{
    font-size:1.2rem;
    color:var(--black);
    text-align:center;
    padding-bottom:7px;
    border-bottom:2px solid var(--black);
}
.todoContainer{
    padding:20px 20px 0;
    width:70%;
}
.todo{
    display:grid;
    grid-template-columns:auto 1fr auto;
    grid-gap:10px;
    margin-bottom:10px;
    background:var(--offwhite);
    border-radius: 3px;
    padding: 10px;
    /* opacity:0;
    transform:translateX(50px); */
}
.todo:first-child{
    margin-top:20px;
}
.todo:last-child{
    margin-bottom:0;
}
.todoCheckbox{
    position:relative;
    top:1px;
    left:0;
    align-self: center;
}
.todoCheckbox input[type="checkbox"]{
    position: relative;
    top: -1px;
    left:0;
    z-index:2;
    height:13px;
    width:14px;
    opacity:0;
    cursor:pointer;
}
.spanCheckbox{
    display: block;
    width:13px;
    height:14px;
    position: absolute;
    top:0;
    left:0;
    background:#fff;
    border-radius:2px;
    border:1px solid var(--yellow);
    z-index:0;
}
.todoCheckbox input[type="checkbox"]:checked ~ span:after{
    font-family: 'Font Awesome 5 Free';
    font-size:.55rem;
    font-weight: 900;
    color:var(--yellow);
    content: '\f00c';
    position: absolute;
    top:2px;
    left:1px;
    z-index: 1;
}
.todoDesc{
    align-self: center;
}
.todoDesc p{
    font-size:.9rem;
    font-weight:700;
    color:var(--black);
}
.todoDate{
    margin:5px 0 0 10px;
}
.todoDate svg{
    font-size: .75rem;
    color:var(--gray);
    margin-right:5px;
    vertical-align: middle;
}
.todoDate span{
    color:var(--gray);
    font-size:.65rem;
}
.deleteItem{
    display:inline-block;
    background:var(--red);
    padding: 8px 10px;
    border-radius: 3px;
    cursor:pointer;
    justify-self: end;
    align-self: center;
}
.deleteItem svg{
    font-size:.9rem;
    color:var(--offwhite);
    font-weight:700;
    margin-right:5px;
}
.deleteItem span{
    font-size: .9rem;
    color:var(--offwhite);
    font-weight:700;
}
.doneTodo{
    display:grid;
    grid-template-columns: 1fr auto;
    grid-gap:10px;
    margin-bottom:10px;
    background:var(--gray2);
    border-radius:3px;
    padding:10px;
}
.doneTodo:first-child{
    margin-top:20px;
}
.doneTodo:last-child{
    margin-bottom:0;
}
.doneTodoDesc p{
    font-size: .9rem;
    font-weight:700;
    color:var(--gray);
    text-decoration: line-through;
}
.undoItem{
    display: inline-block;
    background:var(--purple);
    padding:8px 10px;
    border-radius:3px;
    cursor: pointer;
}
.undoItem svg{
    font-size:.75rem;
    color:var(--offwhite);
    font-weight: 700;
    margin-right:5px;
}
.undoItem span{
    font-size: .9rem;
    color:var(--offwhite);
    font-weight: 700;
}
/* .trans-enter{
    opacity:1;
    transform:translateX(0px);
}
.trans-enter-active{
    opacity:0.1;
    transform:translateX(50px);
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}
.trans-exit{
    opacity:0.2;
    transform:translateX(50px);
}
.trans-exit-active{
    opacity:0;
    transform:translateX(50px);
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
} */
/* animation test */
.todo{
    opacity:0.1;
    transform:translateX(50px);
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out; 
}
.todoentering{
    opacity:0.1;
    transform:translateX(50px);
}
.todoentered{
    opacity:1;
    transform:translateX(0px);
}
.todoexiting{
    opacity:0.2;
    transform:translateX(50px);
}
.todoexited{
    opacity:0;
    transform:translateX(50px);
}